<div class="bg-primary">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a [routerLink]="['/home']" class="navbar-brand title">Brainiacs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav">
          <a [routerLink]="['/home']" [routerLinkActive]="['active']" class="nav-item nav-link">Home</a>
          <a [routerLink]="['/list']" [routerLinkActive]="['active']" class="nav-item nav-link">List of smart guys</a>
          <a class="nav-item nav-link">Help</a>
        </div>
      </div>
    </nav>
  </div>
</div>
